<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Cart UI</title>
        <link rel="stylesheet" type="text/css" href="/css/cart.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <!-- iamport.payment.js -->
        <script
            type="text/javascript"
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
        ></script>
        <!-- axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="CartContainer">
            <div class="Header">
                <h3 class="Heading">Shopping Cart</h3>
                <h5 class="Action">Remove all</h5>
            </div>

            <div class="container" id="container"></div>

            <hr />
            <div class="checkout"></div>
            <br />
            <div class="form-group mb-3" id="address">
                <label for="category">주소</label>
                <select class="custom-select tm-select-accounts" id="productCategory">
                    <option selected>Select address</option>
                </select>
            </div>
            <br />
            <button class="button" onclick="requestPay()">결제하기</button>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/cart.js"></script>
    </body>
</html>
