<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart UI</title>
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/cart.js"></script>
	<script>
	</script>
</head>
<body>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Shopping Cart</h3>
   	   	<h5 class="Action">Remove all</h5>
   	   </div>

	   <div class="container" id="container"></div>

   	 <hr> 
   	 <div class="checkout">
	 </div>
   	 <button class="button">Checkout</button></div>
   </div>
</body>
</html>