<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8" >
    <title >상담 채팅방</title >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" name="viewport" />
    <link rel="stylesheet" href="./chatting.css" >
</head >
<body >
<ul id="messages"></ul>
<form action="" id="msg">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<div id="login">
    <input type="text" name="userName" id="userName" placeholder="고객이름" />
    <input type="password" name="psw" id="psw" placeholder="고객비밀번호"/>
    <button>전송</button>
</div>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="./index.js"></script >
</body >
</html >